html{
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
   height: 100%;
   
}

.leftcontainer{
    padding: 10%;
    height: 100%;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.rightcontainer{
    padding: 5%;
    height: 100%;
    
   
}

.data{
    display: grid;
    grid-template-columns: .6fr 1fr 1fr;
}
ul{
    font-size: 1.5em;
    list-style: none;
    padding-left: 0px;
}
.amountLi{
    text-align: end;
}

li{
    border-bottom: solid rgb(4, 4, 14) 2px;
}

.add{
    color:green;
}

.expend{
    color: red;
}

.budget{
    font-size: 2em;
}
.date{
    font-size: 1.5em;
}

